<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>Zinobe Test Table</h2>
            <br>
            <p>Python Challenge described <a href="https://gitlab.sg-zinobe.com/oscar.mendez/challenge-python-l1">here</a></p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>City Name</th>
                        <th>Languge</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in countries %}
                    <tr>
                    <td>{{ country.region }}</td>
                    <td>{{ country.city }}</td>
                    <td>{{ country.language_hash }}</td>
                    <td>{{ country.generate_time|floatformat:2 }} seg</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No data was get it</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p><strong>Minimun Time:</strong> {{ min_time|floatformat:2 }} seg</p>
            <p><strong>Maximun Time:</strong> {{ max_time|floatformat:2 }} seg</p>
            <p><strong>Mean Time:</strong> {{ mean_time|floatformat:2 }} seg</p>
            <p><strong>Total Time:</strong> {{ total_time|floatformat:2 }} seg</p>
        </div>

    </body>
</html>